.windows11-welcome-screen{
    min-height: 100vh;
    background-size: cover;
    animation: windows11WelcomeScreenAnimation 1s linear 0s forwards;
    .loader{
        opacity: 0;
        animation: loaderAnimation 1.5s 2s forwards;
    }
    .my-image{
        max-width: 100%;
        height: 230px;
        border-radius: 50%;
        border: 4px solid;
    }
    .welcome-msg{
        line-height: 2.5;
        .user-name{
            border-radius: 5px;
        }
    }
}

@keyframes windows11WelcomeScreenAnimation {
    0% {
        transform: scale(.5, .5);
    }
    100%{
        transform: scale(1,1);
    }
}