.top-control-bar {
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #3b3e30;
  color: #FFF;
}

.top-control-bar .page-title {
  font-size: 18px;
  line-height: 40px;
  border-radius: inherit;
}

.top-control-bar .icons-control-list .control-icon {
  cursor: pointer;
  padding: 10px;
  font-size: 40px;
}

.top-control-bar .icons-control-list .control-icon.close-icon:hover {
  background-color: #F00;
}

.top-control-bar .icons-control-list .control-icon.maximize-icon:hover, .top-control-bar .icons-control-list .control-icon.minimize-icon:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}
