.desktop {
  background-image: url("../../Assets/images/desktopScreen.jpg");
  background-size: cover;
  min-height: 100vh;
  opacity: 0;
  animation: fadeInDown 2s .5s forwards;
}

.desktop .window {
  position: absolute;
  left: 80px;
  top: 20px;
  width: calc(100% - 110px);
  height: calc(100vh - 45px);
  opacity: 0;
  animation: fadeInDown 1s 0s forwards;
  transition: .3s;
}

.desktop .window .my-details {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  border-radius: 5px;
  height: calc(100% - 40px);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  overflow-y: auto;
}

.desktop .window.maximize {
  left: 60px;
  top: 0;
  width: calc(100% - 60px);
  height: 100%;
}

.desktop .taskbar {
  background-color: #3b3e30;
  color: #FFF;
  position: fixed;
  left: 0;
  top: 0;
  width: 60px;
  height: 100%;
}

.desktop .taskbar .my-info-links {
  height: inherit;
  gap: 30px;
}

.desktop .taskbar .my-info-links li {
  cursor: pointer;
  font-size: 32px;
  opacity: 0;
  transition: .5s;
  position: relative;
  display: block;
}

.desktop .taskbar .my-info-links li:first-of-type, .desktop .taskbar .my-info-links li:nth-of-type(2), .desktop .taskbar .my-info-links li:nth-of-type(3) {
  animation: fadeInDown .5s 3s forwards;
}

.desktop .taskbar .my-info-links li:nth-of-type(5), .desktop .taskbar .my-info-links li:nth-of-type(6), .desktop .taskbar .my-info-links li:nth-of-type(7) {
  animation: fadeInDown .5s 4s forwards;
}

.desktop .taskbar .my-info-links li:nth-of-type(4) {
  animation: fadeInDown .5s 3.5s forwards;
}

.desktop .taskbar .my-info-links li .tooltip-btn {
  position: absolute;
  min-width: 140px;
  top: 2px;
  left: 82px;
  background-color: #FFF;
  opacity: 0;
  transition: .5s;
}

.desktop .taskbar .my-info-links li .tooltip-btn::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 7px;
  background-color: #FFF;
  left: -26px;
  top: calc(50% - 2px);
}

.desktop .taskbar .my-info-links li:hover, .desktop .taskbar .my-info-links li.clicked {
  background-color: #EEE;
  color: #000;
  border-radius: 5px;
}

.desktop .taskbar .my-info-links li:hover .tooltip-btn {
  opacity: 1;
}
