.desktop {
  background-image: url("../../Assets/images/desktopScreen.jpg");
  background-size: cover;
  min-height: 100vh;
  opacity: 0;
  animation: fadeInDown 2s .5s forwards;
}

.desktop .taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #3b3e30;
  color: #FFF;
}

.desktop .taskbar .my-info-links {
  gap: 30px;
}

.desktop .taskbar .my-info-links li {
  cursor: pointer;
  font-size: 32px;
  opacity: 0;
  transition: .5s;
  position: relative;
}

.desktop .taskbar .my-info-links li:first-of-type, .desktop .taskbar .my-info-links li:nth-of-type(2) {
  animation: fadeInDown .5s 3s forwards;
}

.desktop .taskbar .my-info-links li:nth-of-type(3), .desktop .taskbar .my-info-links li:nth-of-type(4) {
  animation: fadeInDown .5s 4s forwards;
}

.desktop .taskbar .my-info-links li:nth-of-type(5), .desktop .taskbar .my-info-links li:last-of-type {
  animation: fadeInDown .5s 3.5s forwards;
}

.desktop .taskbar .my-info-links li .tooltip-btn {
  position: absolute;
  min-width: 140px;
  top: -60px;
  left: -100%;
  background-color: #FFF;
  opacity: 0;
  transition: .5s;
}

.desktop .taskbar .my-info-links li .tooltip-btn::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 20px;
  background-color: #FFF;
  bottom: -21px;
  left: calc(50% + 5px);
}

.desktop .taskbar .my-info-links li:hover {
  background-color: #EEE;
  color: #000;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.desktop .taskbar .my-info-links li:hover .tooltip-btn {
  opacity: 1;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
